@page
@model IndexModel
@{
    ViewData["Title"] = "Booger page";

    var name = "Paul the Great";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hotness, @name!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
