@page "{id:Guid?}"
@namespace CSCI3600.Pages.Topics
@model DetailsModel

@{
    ViewData["Title"] = "Topic Details";
}

<h1>Details for @Model.Topic.Title</h1>

<div class="mb-3">
    <label asp-for="Topic.Title"></label>
    <input asp-for="Topic.Title" class="form-control" readonly />
</div>
<div class="mb-3">
    <label asp-for="Topic.Hours"></label>
    <input asp-for="Topic.Hours" class="form-control" readonly />
</div>
<div class="mb-3">
    <label asp-for="Topic.Description"></label>
    <textarea asp-for="Topic.Description" class="form-control" readonly></textarea>
</div>
<div class="mb-3">
    <a class="btn btn-primary" href="~/Topics/Edit/@Model.Topic.Id">Edit</a>
    <a class="btn btn-danger" href="~/Topics/Delete/@Model.Topic.Id">Delete</a>
    <a class="btn btn-secondary" href="~/Topics">Go Back</a>
</div>
