@page
@{
    ViewData["Title"] = "Admin Page";
}

<h1>
    Admin Page
</h1>

<ul>
    <li>
        <a href="~/Admin/GradeCategories">Edit Grade Categories</a>
    </li>
    <li>
        <a href="~/Admin/GradeItems">Edit Grade Items</a>
    </li>
</ul>
